.App {
 
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
 
  color:black;
  
}

.box{
   margin: 20px;
   
}
.banner{
  width:250px;
  aspect-ratio: 1/1.5;
  object-fit: cover;
  border-radius: 5px;
  margin: 5px;
}
.cardbody{
  display: flex;
  justify-content:space-between;
  margin-top: 5px;
}
.discription{
  width:230px;
}

.footer{
  display: flex;
  justify-content: space-between;
}
a:link {
  color: red;
}
a:visited {
  color:red;
}
.title{
  color:orange;
}


.smallBox {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  gap: 1rem;
}
.movie-detail-container{
  max-width: 750px;
  padding: 16px;
}
.add-movie-form{
  display: flex;
  flex-direction: column;
 
}

.register-container{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto ;
  width: 300px;
  gap: 20px;
}
.register{
  text-align: center;
}